<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cn.caecc.erp.modules.dao.ex.mapper.OfficesupplyGoodsRelationshipActivitiApplyExMapper">
	<resultMap
		type="cn.caecc.erp.modules.dao.ex.dto.OfficesupplyGoodsRelationshipActivitiApplyDto"
		id="officesupplyGoodsRelationshipActivitiApplyDto">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="OId" property="oid" jdbcType="INTEGER" />
		<result column="GCode" property="gcode" jdbcType="VARCHAR" />
		<result column="DId" property="did" jdbcType="INTEGER" />
		<result column="ApplyCount" property="applycount" jdbcType="INTEGER" />
		<result column="CGId" property="cgid" jdbcType="INTEGER" />
		<result column="Reason" property="reason" jdbcType="VARCHAR" />
		<result column="gname" property="gname" jdbcType="VARCHAR" />
		<result column="dname" property="dname" jdbcType="VARCHAR" />
		<result column="contractCode" property="contractCode" jdbcType="VARCHAR" />
		<result column="contractName" property="contractName" jdbcType="VARCHAR" />
		<result column="partyb" property="partyb" jdbcType="VARCHAR" />
		<result column="unitPrice" property="unitPrice" jdbcType="DOUBLE" />
	</resultMap>

	<!-- 批量增加 -->
	<insert id="batchAdd" useGeneratedKeys="true" keyProperty="id">
		<selectKey resultType="int" keyProperty="id">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
		insert into officesupply_goods_relationship_activiti_apply(OId, GCode,
		DId, ApplyCount, CGId, Reason)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.oid},#{item.gcode},#{item.did},#{item.applycount},#{item.cgid},#{item.reason})
		</foreach>
	</insert>

	<!-- 查询详情 -->
	<select id="findDetail" resultMap="officesupplyGoodsRelationshipActivitiApplyDto">
		select o.*,g.name gname,d.name dname,c.code code,c.name cname,c.partyb
		partyb,cg.unitPrice unitPrice
		from
		officesupply_goods_relationship_activiti_apply o
		left join goods g
		on(o.gcode = g.code)
		left join department d
		on(o.did = d.id)
		left join
		contract_goods_relationship cg
		on(o.cgid = cg.id)
		left join contract_activiti_apply c
		on(cg.cid = c.id)
		<where>
			<if test="id != null">
				o.id = #{id}
			</if>
		</where>
	</select>

	<!-- 批量查询 -->
	<select id="batchFind"
		resultType="cn.caecc.erp.modules.dao.mybatis.entity.OfficesupplyGoodsRelationshipActivitiApply">
		select * from officesupply_goods_relationship_activiti_apply
		where id
		in
		<foreach collection="flist" item="itemId" open="(" close=")"
			separator=",">
			#{itemId}
		</foreach>
	</select>

	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="java.util.List">
		update officesupply_goods_relationship_activiti_apply
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="oid =case" suffix="end,">
				<foreach collection="ulist" item="item" index="index">
					<if test="item.oid != null">
						when id=#{item.id} then #{item.oid}
					</if>
				</foreach>
			</trim>
			<trim prefix="gcode =case" suffix="end,">
				<foreach collection="ulist" item="item" index="index">
					<if test="item.gcode != null and item.gcode != ''">
						when id=#{item.id} then #{item.gcode}
					</if>
				</foreach>
			</trim>
			<trim prefix="did =case" suffix="end,">
				<foreach collection="ulist" item="item" index="index">
					<if test="item.did != null">
						when id=#{item.id} then #{item.did}
					</if>
				</foreach>
			</trim>
			<trim prefix="applycount =case" suffix="end,">
				<foreach collection="ulist" item="item" index="index">
					<if test="item.applycount != null">
						when id=#{item.id} then #{item.applycount}
					</if>
				</foreach>
			</trim>
			<trim prefix="cgid =case" suffix="end,">
				<foreach collection="ulist" item="item" index="index">
					<if test="item.cgid != null">
						when id=#{item.id} then #{item.cgid}
					</if>
				</foreach>
			</trim>
			<trim prefix="reason =case" suffix="end,">
				<foreach collection="ulist" item="item" index="index">
					<if test="item.reason != null and item.reason != ''">
						when id=#{item.id} then #{item.reason}
					</if>
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach collection="ulist" index="index" item="item"
			separator="," open="(" close=")">
			#{item.id,jdbcType=INTEGER}
		</foreach>
	</update>
</mapper>